html,
body {
  padding: 0;
  margin: 0;
  font-family: nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* TRANSITION ANIMATION STYLES */
/* https://github.com/marnusw/react-css-transition-replace */

/* tweet input/text */
.switch-leave {
  opacity: 1;
}
.switch-leave.switch-leave-active {
  opacity: 0;
}

.switch-enter {
  opacity: 0;
}
.switch-enter.switch-enter-active {
  opacity: 1;
}

.switch-height {
  transition: height 0.3s ease;
}
